# MegaETH RPC URLs
MEGAETH_MAINNET_RPC_URL=https://mainnet.megaeth.com/rpc
MEGAETH_TESTNET_RPC_URL=https://carrot.megaeth.com/rpc

# Deployer key
PRIVATE_KEY=

# Explorer API keys (optional, used for verify)
MEGAETH_ETHERSCAN_API_KEY=
MEGAETH_TESTNET_EXPLORER_API_KEY=

# Deploy args
NAME=Megahop
SYMBOL=HOP
MAX_SUPPLY=3333
MINT_PRICE_ETH=0.0
MAX_MINT_PER_WALLET=3
BASE_URI=ipfs://bafybeia4p6yz6vfmukoaqlavx5jzk7zg6lq7aelscutrx6dssxrwppsx5e/
NOT_REVEALED_URI=ipfs://bafybeiaziefy442gjfw6iqlzvs74ykhjild7zvelvr62k2oklcobremc6q/Reveal_Image.gif
CONTRACT_URI=ipfs://bafkreidxwhrsl7iagitm52wbcrzzax6njhevgcukwu67eupmlmphmvbrou

# Default phase (auto-created on deploy)
DEFAULT_PHASE_NAME=Public stage
DEFAULT_PHASE_START=0
DEFAULT_PHASE_END=0
DEFAULT_PHASE_PRICE_ETH=0.0
DEFAULT_PHASE_MAX_PER_WALLET=3
DEFAULT_PHASE_ALLOWLIST_ENABLED=false
DEFAULT_PHASE_MERKLE_ROOT=

# For verification
CONTRACT_ADDRESS=

# For ownership migration (recommended multisig)
NEW_OWNER=
